body{
    background-image: url('bg.png');
    background-attachment: fixed;
    background-size: 100% 100%;
    text-align: center;
}


#div1, #div2, #div3, #div4, #div5, #div6 ,#div7, #div8, #div9  {
    height: 150px;
    width: 150px;
    border: 20px solid #231e16;
    display: inline-flex;
    margin: 30px;
    border-radius: 24px 310px 51px 334px;
    background: #000;
}
.mouse{
    display: none;
}

img{
    height: inherit;
    width: inherit;
    position: relative;
    animation-name: rat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes rat {
    0%   {top:-20px;}
    50%  {top:-100px;}
    100% {top:-40px;}
  }

.container{
    background: rgba(0,0,0,.9);
    padding: 60px;
    height: 350px;
    text-align: center;
    margin-top: 79px;
    position: relative;
    width: max-content;
}
#startbtn{
    position: absolute;
    font-size: 16px;
    padding: 10px 25px;
    cursor: pointer;
    background:#4caf50;
    border-radius: 10px;
    color: white;
    border: none;
    bottom: 69px;
    left: 236px;
}
#finalScore{
    display: none;
    position: relative;
}

.popUp{
    font-size: 30px;
    color: white;
    background: rgba(0,0,0,.9);
    height: 200px;
    margin-top: 79px;
}

#showHScore{
    position: relative;
    bottom: 160px;
    color: red;
    font-size: 30px;
}
.score{
    font-size: 20px;
    font-weight: 700;
    color: rgba(0, 0, 255, 0.767);
}
#time{
    color: brown;
}
#home{
    margin-top: 0vh;
}
